

body{margin: 0% 3%;}



  .navbar-dark .navbar-nav .nav-link {
    color: #ffffffd4;
  }

  .navbar {
    background-color: rgba(17, 17, 15, 0.205);
 
  }


 .active, .nav-link:hover {
    font-size: 18px;
    font-weight: bolder;
    border-bottom: 2px solid rgb(80, 74, 74);
    
  }

  .logo {
    background-color: darkblue;
    height: 50px;
    width: 50px;
  }
  .btn{width:50%} 
  
@media  (max-width:768px) {
  .navbar,.navbar-toggler:active {
  text-align: center;
    background:#20586e;
  }
  .contact{
    padding:0%;

  }



   /* media overlay*/
   .containero{
    width: 50%;
    height: 200px;
    position: relative;
    margin: 20px;
    
  }
  .containero .box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;  /* for demo purpose  */
    border: 10px solid rgba(108, 117, 125, 0.74);
    box-shadow: 11px 15px 21px 2px #504a4a96;

  }
  .containero .stack-top{
    z-index: 9;
   // padding: 5px;
    margin: 50px ;  /* for demo purpose  */
  }




   

}
.contact{
  padding: 5%;
}


@media(max-width:600px ){
  .btn{width:100%;
 }
}


.container-fluid1 {
    top:-56px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    height: 600px;
  }

  .container-fluid1 img {
    vertical-align: middle;
  }

  .container-fluid1 .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f7f2f2d8;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .content .text-centers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



 
/*
body {
    background: rgba(0, 0, 0, 0) radial-gradient(circle, #fff 20%, #999) repeat scroll 0 0;
  }*/
  
  .macbook {
    padding: 4% 6%;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .screen {
    background: #000;
    border-radius: 3% 3% 0.5% 0.5% / 5%;
    margin: 0 auto;
    /* for aspect ratio */
    position: relative;
    width: 90%;
  }
  
  .screen:before {
    border: 2px solid #cacacc;
    border-radius: 3% 3% 0.5% 0.5% / 5%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
    content: "";
    display: block;
    /* for aspect ratio ~67:100 */
    padding-top: 67%;
    height: 100%;
  }
  
  .screen:after {
    content: "";
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    position: absolute;
    bottom: 0.75%;
    left: 0.5%;
    padding-top: 1%;
    width: 99%;
  }
  
  .viewport {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 4.3% 3.2%;
    background: #333;
  }
  
  .base {
    /* for aspect ratio */
    position: relative;
    width: 100%;
  }
  
  .base:before {
    content: "";
    display: block;
    /* for aspect ratio ~33:1000*/
    padding-top: 3.3%;
    /* stylin */
    background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, .01) 98%);
    border-radius: 0 0 10% 10%/ 0 0 50% 50%;
  }
  
  .base::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%);
    content: "";
    height: 53%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .notch {
    background: #ddd;
    border-radius: 0 0 7% 7% / 0 0 95% 95%;
    box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.5%;
    z-index: 2;
    /* for aspect ratio */
    position: relative;
    width: 14%;
  }
  
  .notch:before {
    content: "";
    display: block;
    /* for aspect ratio ~1:10 */
    padding-top: 10%;
  }
  
  
  /* Screenshot Hover Scroll Additions
  -------------------------------------------------------------- */
  
  .macbook .viewport {
    transition: background-position 3s ease;
    background-position: 0 0;
    background-size: 100% auto;
    overflow: hidden;
    cursor: pointer;
  }
  
  .macbook:hover .viewport {
    background-position: 0 100%;
  }
  
  .macbook .viewport:after {
    background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }


  /*overlay*/
  .containero{
    width: 50%;
    height: 200px;
    position: relative;
    margin: 20px;
    
  }
  .containero .box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;  /* for demo purpose  */
    border: 10px solid rgba(108, 117, 125, 0.74);
    box-shadow: 11px 15px 21px 2px #504a4a96;

  }
  .containero .stack-top{
    z-index: 9;
   // padding: 5px;
    margin: 50px ;  /* for demo purpose  */
  }

  .bimg1, .bimg2{
    background-size: cover;
  }

.bimg1{
  background-image: url(./img/head.jpg);
}
      .bimg2{
        background-image: url(./img/4.jpg);
      }

/*  */
.fa-gears:before,.fa-cogs:before{content:"\f085"}
.fa-gear:before,.fa-cog:before{content:"\f013"}


/*  contact form   */

.btn{ border-radius: 30px}



